# Virtual Environment
.venv/
env/
venv/

# Python Cache
__pycache__/
*.pyc
*.pyo

# IDEs
.idea/
.vscode/

# User Data / CSVs (Do not commit real portfolios)
*.csv
*.CSV

# Temporary PDF/Image exports
*.pdf
*.png

# Secrets / Environment variables
.env
